* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Teko", Arial, sans-serif;
  font-size: 2.4rem;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(240, 240, 240);
  z-index: 1000;
}

.letter {
  font-size: 20vmax;
  font-weight: 400;
  display: inline-block;
  
  /* Text color the glass effect */
  /* color: #000; */
  color: transparent;
  
  transform: scale(0.5);
  opacity: 0;
  
  /* Shadow for glass effect */
  /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5); */

  /* Inner shadow effect */
  text-shadow: 0.02rem 0.02rem 0.15rem rgba(240, 240, 240, 0.75),
    0 0 rgb(88, 88, 88);
  
    position: relative;
  display: inline-block;
  padding: 10px;
}

.letter.r {
  text-transform: uppercase;
  /* animation: colorChange 2s infinite alternate; */
}

.letter.o {
  text-transform: lowercase;
  /* animation: colorChange 2s infinite alternate; */
}

.main-content {
  display: none;
  /* text-align: center; */
  max-width: 75vw;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

/* @keyframes colorChange {
  0% {
    color: rgb(228, 228, 228);
  }
  25% {
    color: rgb(110, 70, 60);
  }
  50% {
    color: rgb(60, 110, 70);
  }

  75%{
    color: rgb(70, 60, 110);
  }

  100% {
    color: rgb(237, 237, 237);
  }
} */
